<a href="https://colab.research.google.com/github/nmishra1708/web_scrapping_top_50_youtuber/blob/main/webscrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import csv

In [ ]:
url = "https://socialblade.com/youtube/top/50"

In [ ]:
#Get the HTML Page
r = requests.get(url, headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'})
htmlContent = r.content
# print(htmlContent)

In [ ]:
#Parse the HTML Page
soup = BeautifulSoup(htmlContent, 'html.parser')
# print(soup.prettify)

In [ ]:
title = soup.find('title')
print(title.string)

Top 50 YouTubers sorted by SB Score - Socialblade YouTube Stats | YouTube Statistics

In [ ]:
rows = soup.find('div', attrs={'style': 'float: right; width: 900px;'}).find_all('div', recursive=False)[4:]
# print(rows)

In [ ]:
file = open('youtubers.csv','w')
writer = csv.writer(file)

# write title row
writer.writerow(['Username', 'Uploads', 'Views'])

for row in rows:
    username = row.find('div', attrs={'style': 'float: left; width: 350px; line-height: 25px;'}).a.text.strip()
    uploads = row.find('div', attrs={'style': 'float: left; width: 80px;'}).span.text.strip()
    views = row.find_all('div', attrs={'style': 'float: left; width: 150px;'})[1].span.text.strip()
    # print(username +' '+ uploads + ' '+ views)
    writer.writerow([username, uploads, views])

file.close()

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df =  pd.read_csv('youtubers.csv')
df.head()

                     Username Uploads            Views
0           DisneyMusicLAVEVO     424    5,303,673,736
1                    T-Series  14,873  135,558,957,160
2       위드키즈 토이즈 [With Kids …     349    1,549,979,692
3           ✿ Kids Diana Show     795   46,932,317,122
4  Cocomelon - Nursery Rhymes     588   86,746,458,824

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  50 non-null     object
 1   Uploads   50 non-null     object
 2   Views     50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [ ]:
df.describe()

                 Username Uploads        Views
count                  50      50           50
unique                 50      49           50
top     DisneyMusicLAVEVO     588  354,232,426
freq                    1       2            1

In [ ]:
sns.set_theme(style="whitegrid")